[submodule "mensagens"]
	path = mensagens
	url = https://github.com/bathwaterpizza/mensagens
[submodule "cadastro"]
	path = cadastro
	url = https://github.com/bathwaterpizza/cadastro
[submodule "filial"]
	path = filial
	url = https://github.com/felipefortinif/filial/
[submodule "aula"]
	path = aula
	url = https://github.com/felipefortinif/aula/
[submodule "turma"]
	path = turma
	url = https://github.com/bathwaterpizza/turma
[submodule "cursoturma"]
	path = cursoturma
	url = https://github.com/bathwaterpizza/cursoturma
