[submodule "mensagens"]
	path = mensagens
	url = https://github.com/bathwaterpizza/mensagens
[submodule "cadastro"]
	path = cadastro
	url = https://github.com/bathwaterpizza/cadastro
[submodule "turma"]
	path = turma
	url = https://github.com/bathwaterpizza/turma
[submodule "cursoturma"]
	path = cursoturma
	url = https://github.com/bathwaterpizza/cursoturma
[submodule "alunoturma"]
	path = alunoturma
	url = https://github.com/bathwaterpizza/alunoturma
[submodule "professor"]
	path = professor
	url = https://github.com/jvsfrancisco/professor
[submodule "aluno"]
	path = aluno
	url = https://github.com/jvsfrancisco/aluno
[submodule "leciona"]
	path = leciona
	url = https://github.com/jvsfrancisco/leciona
